@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');

body {
  font-family: 'PT Serif', serif;
   background-image: url("https://raw.githubusercontent.com/thegreatobese/Portfolio/master/lol.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}  
