@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');

body {
  font-family: 'PT Serif', serif;
  background-image: url("https://raw.githubusercontent.com/thegreatobese/Portfolio/master/wildfirebig.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}  

h1{
color:  #17ff00;
font-size:50px;
border: 10px solid yellow;
padding:10px
  color:red;
  animation-name:obese;
  animation-duriation:4s;
  animation-iteration-count:infinite;
}

@keyframes obese{
0%{
  
  color: red;
  }
  50%{color: #33ffda;}
  
}
  100%{color: blue;}
  
}
h2{
color: #00f7ff;

}
p{
color: #00f7ff;


}
li{
color: #00f7ff;
}

.navbar {
  overflow:hidden;
  background-color: #5A1E39;
}

.navbar a {
  float:left;
  display: block;
  color: #EEA2C4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #422834;
  color: #FFFFFF;
}

.navbar a.active {
  background-color: #FFFFFF;
  color: Black;
}
